@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: whitesmoke;
    height: 100vh;
    display:grid;
    grid-template-areas: 
    "aside header header"
    "aside main main"
    "aside footer footer";
    grid-template-rows: 5vh auto 5vh;
    grid-template-columns: 8vh auto 5vh;
    transition: 1s;
}
header{
    grid-area: header;
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker';
}
aside{
    grid-area: aside;
    display: flex;
    align-items: center;
    position: sticky;
}
li, a{
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 150px;
    font-family: 'Signika Negative';
    font-weight: bolder;
    transition: 0.5s;
}
li a:hover{
    color:white;
    font-size: 18px;
    background-color: red;
}
li{
    margin-top: 20px;
}
nav{
    padding: 0px 10px;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Signika Negative';
    padding: 5vw 0vw;
}
#personal_info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:0;
}
#envelop_code{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0px 12vw
    /* align-items:center; */
}
#techs{
    display: flex;
    flex-direction: column;
    padding:0vw 18vw;
    margin-top:5vh;
    text-align: center;
}
span{
    margin-left: 5px;
}
abbr{
    text-decoration: none;
}
.tech{
    font-family: monospace;
    font-weight: bold;
    color:rgba(255, 78, 78, 0.766);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 25px;
    border: solid red 2px;
    border-left: solid red 2px;
    margin: 2px;
    border-radius: 5px;
}
#graphics{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika Negative';
    color:red;
}
@media screen and (max-width: 445px) {
    #graphics{
        width:260px
    }
}
@media screen and (max-width: 560px) {
    body{
        overflow-y: scroll;
    }
    main{
        padding: 2vh 3vh
    }
}
@media screen and (max-width: 570px) {
    body{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding: 0vw 0px 40vh 0vh; */
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    li{
        margin:1vw 1vw
    }
}