@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: whitesmoke;
    height: 100vh;
    display:grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";
    grid-template-rows: 5vh auto 5vh;
    grid-template-columns: 25vh auto 5vh;
    overflow: hidden;
    transition: 1s;
}
header{
    grid-area: header;
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker';
}
aside{
    grid-area: aside;
    display: flex;
    align-items: center;
}
li, a{
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 150px;
    font-family: 'Signika Negative';
    font-weight: bolder;
    transition: 0.5s;
}
li a:hover{
    color:white;
    font-size: 18px;
    background-color: red;
}
li{
    margin-top: 20px;
}
nav{
    padding: 0px 10px;
}
main{
    grid-area: main;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: 'Signika Negative';
    padding: 5vw 5vw;
}
#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.project .a_project{
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    border-radius:10px;
    transition: 0.5s;
    margin:5px
}
.project .a_project:hover{
    background-color: red;
    color: white;
}
.a_project{
    flex-direction: column;
}
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika Negative';
    color:red;
}
@media screen and (max-width: 560px) {
    main{
        padding: 2vh 3vh
    }
}
@media screen and (max-width: 565px) {
    body{
        overflow-y: scroll;
        display:flex;
        flex-direction: column;
    }
    /* #profile_image{
        align-items: center;
        justify-content: center;
        margin: 0px;
    } */
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    li{
        margin:10px 10px
    }
}